.page-container {
    margin-top: 5rem;
    display: flex;
}

.center {
    margin: 0 auto;
}

.about-heading,
.turismo-heading {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
}

.turismo-menu {
    display:flex;
    column-count: 3;
    column-gap: 80px;
    justify-content: center;
    
}

.turismo-menu-card{
    border: 1px red solid;
    width: 300px;
    text-align: center;
}

.turismo-menu-card p{
    width: 250px;
    margin: 0 auto;
    margin-top: 10px;
}

.turismo-menu-card button{
    margin: 0 auto;
    margin-top: 10px;
    padding: 0.5rem 1rem;
    background-color: #fe9e0d;
    border: none;
    border-radius: 5rem;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 600;
    color: white;
    transition: 0.2s;
}
 
.turismo-menu-card button:hover {
    background-color: #e48f0f;
  }

.about-text,
.turismo-text {
    width: 90vh;
    text-align: justify;
    margin: 0 auto;
    font-size: 18px;
    line-height: 30px;
}

.turismo-text p{
    margin-top: 15px;
}

.turismo-text h3{
    margin-top: 30px;
}

.turismo-focus {
    background: orange;
}

.about-img,
.turismo-img {
    display: flex;
    justify-content: center;
}

.turismo-img {
    margin: 20px;
    flex-direction: column;
    text-align: center;
}

#sobre3 {
    height: 250px;
    width: 800px;
    margin-top: 30px;
    margin-bottom: 30px;
}

@media (max-width:800px) {
    .about-text{
        width: 100%;
    }

    .turismo-text {
        width: 100%;
    }
}