.page-container {
    margin-top: 5rem;
    display: flex;
}

.center {
    margin: 0 auto;
}

.about-heading,
.turismo-heading {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
}

.turismo-menu {
    display:flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 40px;

    
}

.turismo-menu-card{

    width: 300px;
    height: 400px;
    text-align: center;

}

.turismo-card-heading{
    margin-top: 70px;
    text-shadow: 0 0 2px #000, 1px 1px 0 #000, 2px 2px 1px #000;
    color: #fff;
}

.turismo-card-content p{
    margin: 0 auto;
    margin-top: 70px;
    width: 200px;
    line-height: 25px;
    text-shadow: 0 0 2px #000, 1px 1px 0 #000, 2px 2px 1px #000;
    color:#fff;
}

.turismo-card-content a{
    padding: 0.5rem 1rem;
    background-color: #fe9e0d;
    text-shadow: 0 0 2px #000, 1px 1px 0 #000, 2px 2px 1px #000;
    border: none;
    border-radius: 5rem;
    font-weight: 600;
    color: white;
    transition: 0.2s;
    display:block;
    width: 180px;
    margin: 0 auto;
    margin-top: 60px;
    justify-content: center;
    text-decoration: none;
}
 
.turismo-card-content a:hover {
    background-color: #d58103;
}

#como-chegar {
    background-image:linear-gradient(rgba(255,255,255,0.75), rgba(255,255,255,0.75)), url('../Assets/bg-como-chegar.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}

#como-chegar:hover {
    background-image:linear-gradient(rgba(255, 132, 0, 0.3), rgba(255,132,0,0.8)), url('../Assets/bg-como-chegar.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    color: #000;
}

#hotelaria {
    background-image:linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url('../Assets/bg-hotelaria.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color:#000;
    background-position-x: center;
}

#hotelaria:hover {
    background-image:linear-gradient(rgba(255, 132, 0, 0.3), rgba(255,132,0,0.8)), url('../Assets/bg-hotelaria.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    color: #000;
}

#pontos-turisticos {
    background-image:linear-gradient(rgba(255,255,255,0.75), rgba(255,255,255,0.75)), url('../Assets/bg-pontos-turisticos.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}

#pontos-turisticos:hover {
    background-image:linear-gradient(rgba(255, 132, 0, 0.3), rgba(255,132,0,0.8)), url('../Assets/bg-pontos-turisticos.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    color: #000;
}

.turismo-card-content {
    position: relative;
}



.about-text,
.turismo-text {
    width: 90vh;
    text-align: justify;
    margin: 0 auto;
    font-size: 18px;
    line-height: 30px;
}

.turismo-text p{
    margin-top: 15px;
}

.turismo-text h3{
    margin-top: 30px;
}

.turismo-focus {
    background: orange;
}

.about-img,
.turismo-img {
    display: flex;
    justify-content: center;
}

.turismo-img {
    margin: 20px;
    flex-direction: column;
    text-align: center;
}

#sobre3 {
    height: 250px;
    width: 800px;
    margin-top: 30px;
    margin-bottom: 30px;
}


@media (max-width:800px) {
    .about-text{
        width: 100%;
    }

    .turismo-text {
        width: 100%;
    }
}